body {
  color: #333;
  letter-spacing: 1px;
  background-color: #ece8e8; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }
